<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\python\python.exe" 
                  arguments="-m uvicorn minimal_app:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="%home%\LogFiles\stdout" 
                  startupTimeLimit="180" 
                  startupRetryCount="5">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot" />
        <environmentVariable name="WEBSITE_TIME_ZONE" value="UTC" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>